server:
  port: 8080

spring:
  datasource:
    url: ${ORACLE_URL:jdbc:oracle:thin:@//localhost:1521/XEPDB1}
    username: ${ORACLE_USERNAME:HOSTEL_APP}
    password: ${ORACLE_PASSWORD:Hostel@123}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: info
